body {
  display: flex;
  flex-direction: column;
  margin:0;
  background-color: #cfcccc;
  
}

.container {
  background-color: #322821;
}

nav {
  width: 100vw;
  display: flex;
  align-items: flex-start;
  
  
}

.link {
  padding: 20px;
  margin: 20px;
  text-decoration: none;
  color: #CEBDA9;
  font-size: 25px;
}

.firstPage {
  margin-right: auto;
  
}

h1 {
  margin: 20px;
  text-transform: uppercase;
  padding: 50px;
  width:100%;
  text-align: center;
  font-size: 40px;
  color: white;
  background-color: #322821;
  margin: 0;
  margin-bottom: 50px;
}

.task {
  
  padding: 10px;
  font-size: 20px;
  width: 100%;
   
}

.todo {
  width:100%;
  background-color: #CEBDA9;
  min-height: 80vh;
}

.flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
      
}

.flex-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  
      
}

.block {
  
  width:100%;
}


.btn {
  padding: 15px;
  border: 1px solid #C82600;
  border-radius: 5px;
  width: 100px;
  background-color: #C82600;
  color: white;
  font-size: 15px;
  margin-bottom: 20px;
  align-self: flex-end;
  margin-right: 30px;
}

.buttonAdd {
  background-color: green;
  border: 1px solid green;
  margin-right: 0;
  align-self: center;
}

.btnCategory {
  align-self: flex-end;
  margin-right: 20px;
}

input {
  padding: 10px;
  margin: 20px 90px 20px 20px;
}

.crossedOut {
  
  text-decoration: line-through;
  
}

p {
  font-size: 20px;
  color: black;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
}

.tasks {
  width: 350px;
}

form {
  width: 100%;
}

.deleteBtn {
  margin-top: 53vh;
}


.hidden {
  font-size: 10px;
  width: 100px;
  color:#797878;
  align-self: flex-end;
}

.column {
  display: flex;
  flex-direction: column;
  
}

.items-done {
  
  width:100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px;
  
  
}

.item-done {
  color: #282828;
   
  
}

.grey {
  background-color: #cfcccc;
}

.par {
  text-align: center;
}

.categoryHeading {
  text-align: center;
  text-transform: uppercase;
}

.categoryContainer {
  display: flex;
  flex-wrap: wrap;
  
}

.categoryBlock {
  width: 30%;
  padding: 20px;
  
}

.flexEnd {
  justify-content: space-between;
  width: 100%;
}

.deleteCategory {
  height: 50px;
  width:70px;
  border: none;
  background-color: #cfcccc;
  border-radius: 10px;
  color: #282828;
}