body {
  display: flex;
  flex-direction: column;
  margin:0;
  background-color: #cfcccc;
  background-size: cover;
  
  
}

.container {
  background-color: #322821;
  display: flex;
  align-items: flex-start;
  height: 15vh;
  padding: 0px 40px 0px 20px;
  
  
  
}





.link {
  padding: 20px 40px 20px 40px;
  text-decoration: none;
  color: #CEBDA9;
  font-size: 25px;
  
  
  
}



@keyframes pulse {
  0% {
    transform: scale(1);
    
  }
  50% {
    transform: scale(1.03);
    
  }
  100% {
    transform: scale(1);
  }
}



.firstPage {
  margin-right: auto;
  
}

h1 {
  text-transform: uppercase;
  width: 100%;
  padding-bottom: 50px;
  text-align: center;
  font-size: 40px;
  color: white;
  background-color: #322821;
  margin-top: 0;
  margin-bottom: 50px;
}

.task {
  
  padding: 10px;
  font-size: 20px;
  
   
}

.todo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width:100%;
  background-color: #CEBDA9;
  margin:0;
  
}

.todoMedium {
  width:90%;
  background-color: #CEBDA9;
  min-height: 80vh;
  max-height:fit-content;
  padding:20px;
}



.flex-center {
  display: flex;
  flex-direction: column;
  
  
}

.flex-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
        
}

.block {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  min-height: 50vh;
  
}


.btn {
  padding: 15px;
  border-radius: 5px;
  width: 100px;
  font-size: 15px;
  margin-bottom: 20px;
  
}

.deleteBtn {
  background-color: #C82600;
  color: white;
  border: 1px solid #C82600;
  align-self: flex-end;
  
}

.deleteBtn:hover {
  font-size: 20px;
  width: 120px;
}

.buttonAdd {
  background-color: green;
  border: 1px solid green;
  margin-right: 0;
  align-self: center;
  color: white;
  
}

.buttonAdd:hover {
  background-color: #fff;
  border: 1px solid #fff;
  color: green;
  
}

.btnCategory {
  align-self: flex-end;
  margin-right: 20px;
}

.flex-between {
  
  display: flex;
  justify-content: space-between;
  width:100%;
}

input {
  padding: 10px;
  margin: 20px;
  align-self: center;
  animation: pulse 1.5s infinite ease-in-out;
  animation-delay: 8;
  
  
}



input:hover {
  background-color: #ddd;
  font-size: 15px;
  border: 1px solid #797878;
  
}


.crossedOut {
  
  text-decoration: line-through;
  
}

p {
  font-size: 20px;
  color: black;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.tasks {
  width: 350px;
  align-self: flex-start;
  justify-self: flex-start;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
    overflow: hidden;
    align-self: flex-end;
}


.tasksCont {
  min-height: 65vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  
}


.hidden {
  font-size: 10px;
  width: 100px;
  color:#797878;
  
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.items-done {
  
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px;
  width: 100%;  
}

.item-done {
  color: #282828;
   
  
}

.grey {
  background-color: #cfcccc;
  
}

.par {
  text-align: center;
}

.categoryHeading {
  text-align: center;
  text-transform: uppercase;
}

.categoryContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  
}

.categoryBlock {
  width: 30%;
  padding: 20px;
  
}

.deleteCategory {
  height: 50px;
  border: none;
  background-color: #cfcccc;
  border-radius: 10px;
  color: #282828;
  margin-left: 20px;
  
}

span {
  color:#C82600;
}

.img {
  align-self: center;
}

@media all and (max-width: 1200px) {

  .tasks {
    width: 90%;
  }

  .deleteBtn {
    width: 130px;
    margin-top: 30px;
    margin-right: 0;
    align-self: center;
    
  }

  .flex-between {
    flex-direction: column;
    align-self: center;
    justify-items: center;
        
  }

  .flex-center {
    width:100%;
    
  }

  .deleteCategory {
    margin-left: 0;
  }

  .tasks {
    width: 100%;
  }

  .img {
    width: 1000px;
  }
}

@media all and (max-width: 820px) {

  .row {
    flex-direction: column;
  
}

.items-done {
  grid: none;
  display: flex;
  flex-direction: column;
}

.img {
    width: 750px;
  }

  h1 {
    font-size: 30px;
  }
}



@media all and (max-width: 500px) {

  .link {
    font-size: 15px;
    padding: 10px;
    margin:10px;
  }

  .container {
    padding: 10px;
    justify-content: space-around;
  }

  h1 {
    font-size: 30px;
    padding-top: 20px;
  }

  .buttonAdd {
    margin-right: 0;
    font-size: 10px;
  }

  input {
    margin:10px 0px 10px 0px;
    padding:5px;
    max-width:100px;
  }

  .categoryBlock {
    width: 80%;
  }

  .btnCategory {
    margin-right: 20px;
  }

  .img {
    width: 370px;
  }

  h1 {
    font-size: 25px;
  }
}