body {
  display: flex;
  flex-direction: column;
  margin:0;
}

.container {
  background-color: #322821;
}

nav {
  width: 100vw;
  display: flex;
  align-items: flex-start;
  
  
}

.link {
  padding: 20px;
  margin: 20px;
  text-decoration: none;
  color: #CEBDA9;
  font-size: 25px;
}

.firstPage {
  margin-right: auto;
  
}

h1 {
  margin: 20px;
  
}

.task {
  
  padding: 10px;
  font-size: 20px;
  width: 100%;
   
}

.todo {
  background-color: #CEBDA9;

}



/*.done {

} */

.flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
    
}

.block {
  height: 26vw;
  width:100%;
}


.btn {
  padding: 15px;
  border: 1px solid #C82600;
  border-radius: 5px;
  width: 100px;
  background-color: #C82600;
  color: white;
  font-size: 15px;
  margin-bottom: 20px;
}

input {
  padding: 10px;
  margin-bottom: 20px;
}

.crossedOut {
  
  text-decoration: line-through;
  
}

p {
  font-size: 20px;
  color: black;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
}

.tasks {
  width: 350px;
}



.btnDelete {
  background-color: #282828;
  width: 200px;
  padding:5px;
  height: 30px;
  margin-bottom: 0;
}

.hidden {
  font-size: 10px;
  width: 100px;
  color:#797878;
  align-self: flex-end;
}

.column {
  display: flex;
  flex-direction: column;
  
}

.items-done {
  
  width:100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px;
  
  
}

.item-done {
  color: #282828;
   
  
}

.grey {
  background-color: #cfcccc;
}

.par {
  text-align: center;
}



